.newCollection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
}

.newCollection h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.newCollection hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.collection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 50px;
}
@media (min-width: 1280px) {
    

    .newCollection h1 {
        font-size: 40px;
        /* Increase font size for larger screens */
    }

    .newCollection hr {
        width: 160px;
        height: 4px;
        /* Adjust hr width for larger screens */
    }

    .collection {
        gap: 20px;
        margin-top: 30px;
        /* Increase gap between items for larger screens */
    }
}
@media (max-width: 1224px) {


    .newCollection h1 {
        font-size: 30px;
        /* Decrease font size for medium screens */
    }

    .newCollection hr {
        width: 120px;
        /* Adjust hr width for medium screens */
        height: 3px;
        /* Adjust hr height for medium screens */
    }

    .collection {
        gap: 15px;
        /* Adjust gap between items for medium screens */
        margin-top: 20px;
        /* Adjust top margin for medium screens */
    }
}
@media (max-width: 800px) {
    .newCollection {
       
        gap: 6px; /* Allow height to adjust based on content for smaller screens */
    }

    .newCollection h1 {
        font-size: 20px; /* Decrease font size for smaller screens */
    }

    .newCollection hr {
        width: 100px; /* Adjust hr width for smaller screens */
        
    }

    .collection {
        gap: 5px; /* Adjust gap between items for smaller screens */
        }
}
@media (max-width: 500px) {

    .collection {
        display: grid; /* Change display of .collection to grid */
        grid-template-columns: 1fr 1fr; /* Define two equal columns */
        gap: 20px; /* Define gap between grid items */
    }
}